flows.json
[{"id":"add41b24d6d0bb80","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"602c9edd990e3f5c","type":"ui_gauge","z":"add41b24d6d0bb80","name":"","group":"a6430b34d91524e5","order":1,"width":0,"height":0,"gtype":"gage","title":"Load 2","label":"WATTS","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"800","diff":false,"className":"","x":2030,"y":900,"wires":[]},{"id":"b859da625d933330","type":"ui_gauge","z":"add41b24d6d0bb80","name":"","group":"62c39d650856b41f","order":2,"width":0,"height":0,"gtype":"gage","title":"Load 4","label":"WATTS","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"800","diff":false,"className":"","x":2030,"y":1020,"wires":[]},{"id":"eaf541fa1ea98d6f","type":"ui_switch","z":"add41b24d6d0bb80","name":"","label":"OFF/ON","tooltip":"","group":"a6430b34d91524e5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":940,"y":460,"wires":[["908177f8c09aac33"]]},{"id":"6e7448d61c79aa1c","type":"ui_switch","z":"add41b24d6d0bb80","name":"","label":"OFF/ON","tooltip":"","group":"69aa70751c8d6d5e","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":940,"y":520,"wires":[["97557db02d6e18ba"]]},{"id":"7084fb58acd5cfb9","type":"ui_switch","z":"add41b24d6d0bb80","name":"","label":"OFF/ON","tooltip":"","group":"62c39d650856b41f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":940,"y":580,"wires":[["a1ddcaedd1f0b7e6"]]},{"id":"de99bc9c857f42a9","type":"ui_gauge","z":"add41b24d6d0bb80","name":"","group":"5f9a500f9d7928ec","order":2,"width":0,"height":0,"gtype":"gage","title":"load 1","label":"WATTS","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"800","diff":false,"className":"","x":2030,"y":860,"wires":[]},{"id":"edbcb552f166e343","type":"ui_switch","z":"add41b24d6d0bb80","name":".","label":"OFF/ON.","tooltip":"","group":"5f9a500f9d7928ec","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"topic","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":930,"y":400,"wires":[["b89d9c4a7869c3aa"]]},{"id":"0bf8c5d9d1654da5","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"a6430b34d91524e5","order":2,"width":0,"height":0,"label":"TODAY'S CONSUMPTION","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"power consumption ","dot":false,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"50","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2300,"y":880,"wires":[[]]},{"id":"677056cd2dc48fad","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"69aa70751c8d6d5e","order":2,"width":0,"height":0,"label":"TODAY'S CONSUMPTION","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"power consumption ","dot":false,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"50","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2260,"y":920,"wires":[[]]},{"id":"dc33fb3630444c13","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"62c39d650856b41f","order":3,"width":0,"height":0,"label":"TODAY'S CONSUMPTION","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"power consumption ","dot":false,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"50","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#f88016","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2300,"y":960,"wires":[[]]},{"id":"ea0b92b02c30603f","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"5f9a500f9d7928ec","order":3,"width":0,"height":0,"label":"TODAY'S CONSUMPTION","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"power consumption ","dot":false,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"50","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2240,"y":840,"wires":[[]]},{"id":"e1541a490e43d776","type":"ui_text","z":"add41b24d6d0bb80","group":"1944ea4fd7ccdd0a","order":1,"width":"5","height":"2","name":"","label":"POWER SOURCE","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#d6ffdb","x":2250,"y":1100,"wires":[]},{"id":"fa6cfbdf9c3a4df1","type":"ui_text","z":"add41b24d6d0bb80","group":"1944ea4fd7ccdd0a","order":2,"width":"5","height":"2","name":"","label":"VOLTAGE","format":"{{msg.payload}}  V","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#b3ffbb","x":2250,"y":1040,"wires":[]},{"id":"0c54458dfd0cd3d8","type":"function","z":"add41b24d6d0bb80","name":"Power1","func":"var vltg = flow.get(\"vlotage\");\nvar crnt = msg.payload\nvar results =vltg *(crnt)//-0.11)\nmsg.payload = results.toFixed(2)\nflow.set(\"power1\", msg.payload);\nmsg.topic = \"LOAD1\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1498,"y":880,"wires":[["a274fe8edd13506b"]]},{"id":"7e415350d8f3d7ce","type":"function","z":"add41b24d6d0bb80","name":"Power2","func":"var vltg = flow.get(\"vlotage\");\nvar crnt = msg.payload\nvar results =vltg * (crnt)//-0.11)\nmsg.payload = results.toFixed(2);\nflow.set(\"power2\", msg.payload);\nmsg.topic = \"LOAD2\"\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1498,"y":924,"wires":[["f91aae69e1f850c2"]]},{"id":"355aa2800b6e1e16","type":"function","z":"add41b24d6d0bb80","name":"Power3","func":"var vltg = flow.get(\"vlotage\");\nvar crnt = msg.payload\nvar results =vltg * (crnt)//-0.11)\nmsg.payload = results.toFixed(2)\nflow.set(\"power3\", msg.payload);\nmsg.topic = \"LOAD3\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1498,"y":968,"wires":[["92634887516f9e2b"]]},{"id":"ee37ba984a2dc19d","type":"function","z":"add41b24d6d0bb80","name":"Power4","func":"var vltg = flow.get(\"vlotage\");\nvar crnt = msg.payload\nvar results =vltg * (crnt)//-0.11)\nmsg.payload = results.toFixed(2)\nflow.set(\"power4\", msg.payload);\nmsg.topic = \"LOAD4\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1498,"y":1012,"wires":[["fc43a0d70122b793"]]},{"id":"7781f39035f2b28c","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"67cf64a8c6dd0818","order":3,"width":"24","height":"8","label":"TOTAL CONSUMPTION (WATTS)","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1200","removeOlder":"4","removeOlderPoints":"100","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2240,"y":780,"wires":[[]]},{"id":"22e8cb6bea0e8e2b","type":"function","z":"add41b24d6d0bb80","name":"golbal voltage variable","func":"flow.set(\"vlotage\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1060,"wires":[[]]},{"id":"a414bdd66d7022bf","type":"mqtt in","z":"add41b24d6d0bb80","name":"","topic":"Data","qos":"2","datatype":"auto","broker":"919da693cc3b5331","nl":false,"rap":true,"rh":0,"inputs":0,"x":1068,"y":808,"wires":[["3b521e797982faf8"]]},{"id":"3b521e797982faf8","type":"function","z":"add41b24d6d0bb80","name":"change and parse data","func":"//function splitAndParseNumbers(msg) {\n  // Get the payload (string of comma-separated numbers)\n  const dataString = msg.payload;\n  \n  // Split the string into an array of strings\n  const values = dataString.split(\",\");\n  \n  // Check if there are exactly 5 elements\n  if (values.length !== 6) {\n    // Send an error message if not 5 elements\n    msg.payload = \"Error: Expected 5 comma-separated numbers.\";\n    return msg;\n  }\n  \n  // Array to store parsed numbers\n  const parsedValues = [];\n  \n  // Loop through each string value and parse to number\n  for (const value of values) {\n    const parsedValue = parseFloat(value);\n    \n    // Check if parsing was successful (not NaN)\n    if (isNaN(parsedValue)) {\n      // Send an error message if parsing fails\n      msg.payload = \"Error: One or more values could not be parsed as numbers.\";\n      return msg;\n    }\n    \n    // Add parsed number to the output array\n    parsedValues.push(parsedValue);\n  }\n  \n  // Set the message payload to the array of parsed numbers\n  msg.payload = parsedValues;\n  \n  // Return the modified message\n  return msg;\n//}\n\n//splitAndParseNumbers(msg)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1064,"y":874,"wires":[["fb22646644669564"]]},{"id":"fb22646644669564","type":"function","z":"add41b24d6d0bb80","name":"convert to 6 variables","func":"var cnt1 = msg.payload[0]\nvar cnt2 = msg.payload[1]\nvar cnt3 = msg.payload[2]\nvar cnt4 = msg.payload[3]\nvar vltg = msg.payload[4]\nvar src = msg.payload[5]\nreturn[{payload:cnt1},\n    { payload: cnt2 },\n    { payload: cnt3 },\n    { payload: cnt4 },\n    { payload: vltg },\n    { payload: src }\n]","outputs":6,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1186,"y":962,"wires":[["0c54458dfd0cd3d8"],["7e415350d8f3d7ce"],["355aa2800b6e1e16"],["ee37ba984a2dc19d"],["22e8cb6bea0e8e2b","fa6cfbdf9c3a4df1"],["a9ad29fcc4bac772"]]},{"id":"a9ad29fcc4bac772","type":"function","z":"add41b24d6d0bb80","name":"source selection","func":"var source;\nif(msg.payload = 1){\n    source = {payload:\"MAIN\"};\n    msg = source;\n    return msg;\n}\nif (msg.payload = 2) {\n    source = {payload:\"BACKUP\"};\n    msg.payload = source;\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":1120,"wires":[["e1541a490e43d776","be6c6c1dfe50033c"]]},{"id":"c2d13915529023db","type":"mysql","z":"add41b24d6d0bb80","mydb":"74e920633d5e787c","name":"DB","x":1930,"y":600,"wires":[[]]},{"id":"d9132da47689294d","type":"function","z":"add41b24d6d0bb80","name":"ADD to DB","func":"var vltg = flow.get(\"vlotage\");\nvar p1 = flow.get(\"power1\");\nvar p2 = flow.get(\"power2\");\nvar p3 = flow.get(\"power3\");\nvar p4 = flow.get(\"power4\");\nvar src = flow.get('src')\nmsg.payload = {p1:p1,p2:p2,p3:p3,p4:p4,vltg:vltg,source:src};\n\nmsg.topic =\"INSERT INTO `data` (`date`, `power1`, `power2`, `power3`, `power4`, `voltage`, `source`) VALUES (CURRENT_TIMESTAMP,:p1,:p2,:p3,:p4,:vltg,:source)\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":600,"wires":[["c2d13915529023db"]]},{"id":"a274fe8edd13506b","type":"delay","z":"add41b24d6d0bb80","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1750,"y":800,"wires":[["de99bc9c857f42a9","ea0b92b02c30603f","7781f39035f2b28c"]]},{"id":"50e3232dfad767c3","type":"ui_gauge","z":"add41b24d6d0bb80","name":"","group":"69aa70751c8d6d5e","order":1,"width":0,"height":0,"gtype":"gage","title":"Load 3","label":"WATTS","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"800","diff":false,"className":"","x":2030,"y":960,"wires":[]},{"id":"f91aae69e1f850c2","type":"delay","z":"add41b24d6d0bb80","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1814,"y":886,"wires":[["602c9edd990e3f5c","0bf8c5d9d1654da5","7781f39035f2b28c"]]},{"id":"92634887516f9e2b","type":"delay","z":"add41b24d6d0bb80","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1770,"y":940,"wires":[["50e3232dfad767c3","677056cd2dc48fad","7781f39035f2b28c"]]},{"id":"fc43a0d70122b793","type":"delay","z":"add41b24d6d0bb80","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1790,"y":980,"wires":[["b859da625d933330","dc33fb3630444c13","7781f39035f2b28c"]]},{"id":"e32e312143ed5d39","type":"mysql","z":"add41b24d6d0bb80","mydb":"74e920633d5e787c","name":"DB","x":2130,"y":320,"wires":[["ce901a135b42d7a0"]]},{"id":"3dfd3bfbd740c107","type":"function","z":"add41b24d6d0bb80","name":"view last DAY consumption","func":"msg.topic=\"SELECT date,power1,power2,power3,power4,voltage FROM `data` WHERE date >= NOW() - INTERVAL 1 DAY\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":320,"wires":[["e32e312143ed5d39"]]},{"id":"a41dbdb2fa6016bf","type":"ui_time_scheduler","z":"add41b24d6d0bb80","group":"1944ea4fd7ccdd0a","name":"","startDay":0,"refresh":60,"devices":["load1","load 2 ","load 3","load4"],"singleOff":false,"onlySendChange":true,"customPayload":false,"eventMode":false,"eventOptions":[],"sendTopic":false,"lat":"","lon":"","customContextStore":"","outputs":5,"order":3,"width":"9","height":"3","x":670,"y":440,"wires":[[],["edbcb552f166e343"],["eaf541fa1ea98d6f"],["6e7448d61c79aa1c"],["7084fb58acd5cfb9"]]},{"id":"e9848c2f3e2bf3f6","type":"aedes broker","z":"add41b24d6d0bb80","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":730,"y":820,"wires":[[],[]]},{"id":"b89d9c4a7869c3aa","type":"function","z":"add41b24d6d0bb80","name":"function 8","func":"var value ;\nif(msg.payload==false){\n    value = '0'\n    msg={payload:value}\n}\nelse if( msg.payload == true){\n    value ='1'\n    msg = {payload:value}\n}\nmsg.topic =\"load1switch\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":400,"wires":[["592f8a048d4b59f0"]]},{"id":"908177f8c09aac33","type":"function","z":"add41b24d6d0bb80","name":"function 9","func":"var value ;\nif(msg.payload==false){\n    value = '0'\n    msg={payload:value}\n}\nelse if( msg.payload == true){\n    value ='1'\n    msg = {payload:value}\n}\nmsg.topic =\"load2switch\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":460,"wires":[["83d3d5bba2464ed3"]]},{"id":"97557db02d6e18ba","type":"function","z":"add41b24d6d0bb80","name":"function 10","func":"var value ;\nif(msg.payload==false){\n    value = '0'\n    msg={payload:value}\n}\nelse if( msg.payload == true){\n    value ='1'\n    msg = {payload:value}\n}\nmsg.topic =\"load3switch\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":500,"wires":[["ac5565288b2e9ba9"]]},{"id":"a1ddcaedd1f0b7e6","type":"function","z":"add41b24d6d0bb80","name":"function 11","func":"var value ;\nif(msg.payload==false){\n    value = '0'\n    msg={payload:value}\n}\nelse if( msg.payload == true){\n    value ='1'\n    msg = {payload:value}\n}\nmsg.topic =\"load4switch\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":540,"wires":[["ad260e0cd538beaa"]]},{"id":"592f8a048d4b59f0","type":"mqtt out","z":"add41b24d6d0bb80","name":"","topic":"loadSwitch4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"919da693cc3b5331","x":1350,"y":380,"wires":[]},{"id":"83d3d5bba2464ed3","type":"mqtt out","z":"add41b24d6d0bb80","name":"","topic":"loadSwitch2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"919da693cc3b5331","x":1350,"y":440,"wires":[]},{"id":"ac5565288b2e9ba9","type":"mqtt out","z":"add41b24d6d0bb80","name":"","topic":"loadSwitch3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"919da693cc3b5331","x":1346,"y":489.11109924316406,"wires":[]},{"id":"ad260e0cd538beaa","type":"mqtt out","z":"add41b24d6d0bb80","name":"","topic":"loadSwitch1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"919da693cc3b5331","x":1350,"y":540,"wires":[]},{"id":"38532ae17e138e8c","type":"inject","z":"add41b24d6d0bb80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":600,"wires":[["d9132da47689294d"]]},{"id":"be6c6c1dfe50033c","type":"function","z":"add41b24d6d0bb80","name":"function 12","func":"flow.set(\"src\",msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":1220,"wires":[[]]},{"id":"0d6d64819a231645","type":"ui_button","z":"add41b24d6d0bb80","name":"","group":"886e1c6353de0559","order":1,"width":0,"height":0,"passthru":false,"label":"last hour","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1640,"y":320,"wires":[["3dfd3bfbd740c107"]]},{"id":"fe67fdbc1bd65b02","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"67cf64a8c6dd0818","order":1,"width":"26","height":"10","label":"LAST DAY Consumption","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2490,"y":320,"wires":[[]]},{"id":"ce901a135b42d7a0","type":"db2chart","z":"add41b24d6d0bb80","name":"","firstcol":true,"x":2300,"y":320,"wires":[["fe67fdbc1bd65b02"]]},{"id":"a1d4da8dd6368bca","type":"mysql","z":"add41b24d6d0bb80","mydb":"74e920633d5e787c","name":"DB","x":2130,"y":400,"wires":[["98a1f4281c5a9483"]]},{"id":"c1d9d3cdfc83e744","type":"function","z":"add41b24d6d0bb80","name":"view last Month consumption","func":"msg.topic=\"SELECT date,power1,power2,power3,power4,voltage FROM `data` WHERE date >= NOW() - INTERVAL 1 MONTH\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":400,"wires":[["a1d4da8dd6368bca"]]},{"id":"8736491af54c0f6b","type":"ui_button","z":"add41b24d6d0bb80","name":"","group":"886e1c6353de0559","order":2,"width":0,"height":0,"passthru":false,"label":"last Month","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1630,"y":400,"wires":[["c1d9d3cdfc83e744"]]},{"id":"b7cba08b837b8ca6","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"67cf64a8c6dd0818","order":2,"width":"26","height":"10","label":"LAST MONTH Consumption","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2500,"y":400,"wires":[[]]},{"id":"98a1f4281c5a9483","type":"db2chart","z":"add41b24d6d0bb80","name":"","firstcol":true,"x":2300,"y":400,"wires":[["b7cba08b837b8ca6"]]},{"id":"21c2af1dfe64cdf2","type":"function","z":"add41b24d6d0bb80","name":"Load1 Overload","func":"var power = flow.get(\"power1\")\nif(power>1000){\n  msg.payload = false\n }\n return msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":580,"wires":[["b89d9c4a7869c3aa"]]},{"id":"51006539f1cbba58","type":"function","z":"add41b24d6d0bb80","name":"Load2 Overload","func":"var power = flow.get(\"power2\")\nif (power > 1000) {\n    msg.payload = false\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":620,"wires":[["908177f8c09aac33"]]},{"id":"3bcb98e1c0c19e78","type":"function","z":"add41b24d6d0bb80","name":"Load3 Overload","func":"var power = flow.get(\"power3\")\nif(power>1000){\n  msg.payload = false\n }\n return msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":660,"wires":[["97557db02d6e18ba"]]},{"id":"4257dffe93a004ee","type":"function","z":"add41b24d6d0bb80","name":"Load4 Overload","func":"var power = flow.get(\"power4\")\nif(power>1000){\n  msg.payload = false\n }\n return msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":700,"wires":[["a1ddcaedd1f0b7e6"]]},{"id":"0974905238f878fd","type":"debug","z":"add41b24d6d0bb80","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":820,"wires":[]},{"id":"afdd506231ce66f8","type":"inject","z":"add41b24d6d0bb80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1270,"y":760,"wires":[["757a9a331280e006"]]},{"id":"ada86c2f81b02e9f","type":"ui_text","z":"add41b24d6d0bb80","group":"1944ea4fd7ccdd0a","order":4,"width":"5","height":"2","name":"","label":"Total Power Consumption ","format":"{{msg.payload}} W","layout":"col-center","className":"","style":true,"font":"","fontSize":"20","color":"#ffffff","x":1710,"y":740,"wires":[]},{"id":"757a9a331280e006","type":"function","z":"add41b24d6d0bb80","name":"function 13","func":"var p1 =flow.get(\"power1\");\nvar p2 =flow.get(\"power2\");\nvar p3 =flow.get(\"power3\");\nvar p4 =flow.get(\"power4\");\nvar v1 =  parseFloat(p1);\nvar v2 =  parseFloat(p2);\nvar v3 =  parseFloat(p3);\nvar v4 =  parseFloat(p4);\nmsg.payload = (v1+v2+v3+v4).toFixed(2)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":740,"wires":[["ada86c2f81b02e9f","0974905238f878fd"]]},{"id":"8a02b6d2fad3df0e","type":"inject","z":"add41b24d6d0bb80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"jfbr","payloadType":"str","x":550,"y":580,"wires":[["21c2af1dfe64cdf2"]]},{"id":"9f77fff2513d66e7","type":"debug","z":"add41b24d6d0bb80","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":680,"wires":[]},{"id":"e55e1f4017a56715","type":"inject","z":"add41b24d6d0bb80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"jfbr","payloadType":"str","x":550,"y":620,"wires":[["51006539f1cbba58"]]},{"id":"cc82046ce8ae95b6","type":"inject","z":"add41b24d6d0bb80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"jfbr","payloadType":"str","x":550,"y":660,"wires":[["3bcb98e1c0c19e78"]]},{"id":"170704e4ba66c560","type":"inject","z":"add41b24d6d0bb80","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"jfbr","payloadType":"str","x":550,"y":700,"wires":[["4257dffe93a004ee"]]},{"id":"407e47d4c45b378e","type":"mysql","z":"add41b24d6d0bb80","mydb":"74e920633d5e787c","name":"DB","x":2170,"y":480,"wires":[["19843d32f5e2d98b"]]},{"id":"4895bf590c6be2bb","type":"function","z":"add41b24d6d0bb80","name":"view last Month consumption","func":"msg.topic = \"SELECT  date,MAX(power1) AS LOAD1,MAX(power2) AS LOAD2,MAX(power3) AS LOAD3,MAX(power4) AS LOAD4 FROM `data` GROUP BY date; \";\nreturn msg\n \n ","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":480,"wires":[["407e47d4c45b378e"]]},{"id":"0862546a9469fdf7","type":"ui_button","z":"add41b24d6d0bb80","name":"","group":"886e1c6353de0559","order":2,"width":0,"height":0,"passthru":false,"label":"peak demand","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1680,"y":480,"wires":[["4895bf590c6be2bb"]]},{"id":"19843d32f5e2d98b","type":"db2chart","z":"add41b24d6d0bb80","name":"","firstcol":true,"x":2340,"y":480,"wires":[["02764f14a77e6d32"]]},{"id":"02764f14a77e6d32","type":"ui_chart","z":"add41b24d6d0bb80","name":"","group":"67cf64a8c6dd0818","order":2,"width":"26","height":"10","label":"peak demand","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":2560.66650390625,"y":477.3332824707031,"wires":[[]]},{"id":"a6430b34d91524e5","type":"ui_group","name":"LOAD2","tab":"0d9bfc9fa07e0111","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"62c39d650856b41f","type":"ui_group","name":"LAOD4","tab":"0d9bfc9fa07e0111","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"69aa70751c8d6d5e","type":"ui_group","name":"LOAD3","tab":"0d9bfc9fa07e0111","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"5f9a500f9d7928ec","type":"ui_group","name":"LOAD1","tab":"0d9bfc9fa07e0111","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"1944ea4fd7ccdd0a","type":"ui_group","name":"Default","tab":"0d9bfc9fa07e0111","order":1,"disp":false,"width":"27","collapse":false,"className":""},{"id":"67cf64a8c6dd0818","type":"ui_group","name":"graphs","tab":"93507bc8adc7dc3a","order":2,"disp":false,"width":"24","collapse":false,"className":""},{"id":"919da693cc3b5331","type":"mqtt-broker","name":"","broker":"192.168.43.28","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"74e920633d5e787c","type":"MySQLdatabase","name":"DB","host":"127.0.0.1","port":"3306","db":"EDS","tz":"","charset":"UTF8"},{"id":"886e1c6353de0559","type":"ui_group","name":"buttons","tab":"93507bc8adc7dc3a","order":1,"disp":false,"width":"8","collapse":false,"className":""},{"id":"0d9bfc9fa07e0111","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"93507bc8adc7dc3a","type":"ui_tab","name":"DATABASE","icon":"dashboard","disabled":false,"hidden":false}]